.home {
    margin: 0 10rem 0 10rem;
    margin-top: 2rem;
    
    &-container {
        
        width: 100%;
        &-item {
            margin-bottom: 2rem;
            &-select {
                cursor: pointer;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
    &-navbar-container {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: inherit;
        color: inherit;
    }
}

.select-base {
    display: flex;
    flex-direction: row;
}

.select {
    background-color: rgb(242, 242, 242);
    font-size: 1.4rem;
}

.func-btn {
    background-color: rgb(131, 216, 255);
    border: 1px solid rgb(131, 216, 255);
    cursor: pointer;
    font-size: 1.4rem;
    color: #fff;
    font-weight: 600;
}

.add-btn {
    font-size: 1.6rem;
    padding: .8rem 1.2rem;
    color: #fff;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border-radius: .25rem;
    transition: color .15s;
    background-color: #25aa5a;
    border: aqua;
    cursor: pointer;
}