.todoItem{
    width: 200px;
    height: 20px;
    font-size: 16px;
    align-items: center;
}

.todoList{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: greenyellow;
    align-items: center;
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    box-sizing:border-box;
    padding: 10px 0px;
    
}

.nav {
    height: 41px;
    position: sticky;
    top: 50px;
    background-color: green;
}

.inputBase {
    margin: 20px 100px;
    align-items: center;
    display: block;
    height: 100px;
    position: sticky;
    top: 35px;
}

* li {
    list-style: none;
}

.item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid wheat;
}

.base {
    display: flex;
    width: 100%;
}

.input {
    width: 200px;
    height: 30px;
    padding-right: 10px;
}

.rename {
    width: 242px;
    height: 20px;
    align-items: center;
}

.label {
    font-size: 20px;
    padding: 0px 10px;
    color: yellowgreen;
}

.add {
    margin-left: 10px;
    height: 34px;
    width: 80px;
    border: 1px solid yellowgreen;
    cursor: pointer;
}


.listItem {
    
    border-left: 1px solid wheat;
    border-right: 1px solid wheat;
    width: 50%;
    padding-left: 0px;
    margin-left: 10px;
}

.todoItemDel {
    width: 40px;
    margin-top: 2px;
    margin-right: 0px; 
    height: 20px;
    color: black;
    align-items: center;
    cursor: pointer;
}

.todoItemRename {
    width: 40px;
    margin-top: 2px;
    margin-left: 0px; 
    height: 20px;
    color: black;
    align-items: center;
    cursor: pointer;
}

.todoItemRename:hover {
    background-color: aqua;
}

.todoItemDel:hover {
    background-color: red;
}

.todoItemCb {
    width: 40px;
    height: 20px;
    font-size: 16px;
    align-items: center;
}

.todoItemId {
    width: 40px;
    height: 20px;
    font-size: 16px;
    align-items: center;
}

.todoItemName {
    width: 250px;
    height: 20px;
    font-size: 16px;
    align-items: center;
}