.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: block;
  align-items: center;
  font-size: calc(40px);
  color: white;
  top: 20px;
  
}

.title {
  color: yellow;
  border: 1px solid wheat;
  background-color: blueviolet;
  position: sticky;
  top: 0;
  z-index: 10;
}

