.App {
  margin: 0;
  padding-top: 2rem;
  text-align: center;
  background-color: bisque;
  min-height: 100vh;
}

.navBar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.navBar > * {
  font-size: 1.4rem;
  margin-left: 2rem;
  color: black;
  text-decoration: none;
  transition: 200ms ease-in-out;
}

.navBar > *:hover {
  color: aqua;
}

.title-name {
  font-size: 1.4rem;
}


